! This is the namelist file for model general configuration

&modelname
runid='oo0021'
spinup=.true.
case_initial='cold'
case_forcing='cold'
variable_GammaTS=.true.
GammaT=0.06
/

&timestep
step_per_day=360
run_length=1
run_length_unit='y'
/

&clockinit			! the model starts at
timenew=0.0
daynew=1
yearnew=1979
/

&paths
MeshPath='/scratch/projects/hbk00097/mesh/oo0021/'
OpbndPath=' '
ClimateDataPath= '/scratch/projects/hbk00097/data/hydrography/'
ForcingDataPath= '/scratch/projects/hbk00097/forcing/'
TideForcingPath= './'
ResultPath     = '/scratch/projects/hbk00097/results/oo0021/'


/

&initialization
use_prepared_init_ice=.false.   !how to init. ice; runid.initial_ice.nc
OceClimaDataName='WOA13_TS.txt'
/

&inout
restartflag='last'		!restart from which saved record,'last,'#'
output_length=1			!only required for m,d,h,s cases,  y takes 1
output_length_unit='m'
logfile_outfreq=360
/

&mesh_def
grid_type=1			!1 z-level, 2 sigma, 3 z+sigma
/

&geometry
domain_length=360.    	        ![degree]
cartesian=.false.
fplane=.false.
betaplane=.false.
f_fplane=-1.4e-4        	![1/s]
beta_betaplane=2.0e-11  	![1/s/m]
rotated_grid=.true. 	  	!option only valid for coupled model case now
alphaEuler=50.			![degree] Euler angles, convention:
betaEuler=15.	 		![degree] first around z, then around new x,
gammaEuler=-90.			![degree] then around new z.
/

&calendar
include_fleapyear=.true.
/

